*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.form_container{
  padding: 10px;
  max-width: 450px;
  width: 90%;
}
.form_container__field:focus{
  outline: none;
  border-bottom: 1px solid #1b61db !important;
  
  transition: border-bottom .5 ease-in-out ;
}

.form_container__field:invalid{
  border-bottom: 1px solid #ef0808 !important;
  animation: shake 300ms;

}

.form_container__button{
  width: 100%;
}

.calendar_container{
  display: flex;
  flex-flow: column;
  height: 100vh;
}
@keyframes shake {
  25% {transform: translateX(4px)}
  50% {transform: translateX(-4px)}
  75% {transform: translateX(4px)}
}