*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Formulario */
.form_container{
  padding: 10px;
  max-width: 450px;
  width: 90%;
}
.form_container__field:focus{
  border-bottom: 1px solid #1b61db !important;
  outline: none;
  
  transition: border-bottom .5 ease-in-out ;
}
.form_container__field:invalid{
  border-bottom: 1px solid #ef0808 !important;
  animation: shake 300ms;
}
.form_modal__field-error{
  border: 1px solid #ef0808 !important;
  animation: shake 500ms; 
}
.form_container__button{
  width: 100%;
}
/* Calendar */
.calendar_container{
  display: flex;
  flex-flow: column;
  height: 100vh;
}
/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
.modal_container {
  background: #FFF;
  border-radius: 5px;
  color: #202020;
  display: inline;
  max-height: 620px;
  min-width: 350px;
  outline: none;
  padding: 10px;
}
.modal_container__fondo {
  background-color: rgba(0, 0, 0, 0.894);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
.form_modal__field{
  display: flex;
  border: 1px solid #737373;
  border-radius: 5px;
  padding: 4px;
  outline: none;
  width: 100%;
}
.form_modal__field::placeholder{
  color: #8a8a8a;
  font-size: .9rem;
}
.form_modal__button{
  width: 100%;
}
/* DatePickler */
.react-datetime-picker input:focus{
  outline: none;
}
.react-datetime-picker__wrapper{
  border: 0px solid #737373 !important;
}
/* Button Open modal*/
.button_icon{
  bottom: 10px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 10px;
  width: 50px;
}
.button_icon:hover{
  animation: animationButton 500ms; 
}

/*Keyframes*/
@keyframes shake {
  25% {transform: translateX(5px)}
  50% {transform: translateX(-5px)}
  75% {transform: translateX(5px)}
}
@keyframes animationButton {
  25% {transform: translateY(5px)}
  50% {transform: translateY(-5px)}
  75% {transform: translateY(5px)}
}